.container {
  margin: 0 auto 0 auto;
  padding: 0 5px 0 5px;
  width: 320px;
  background-color: aqua;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
