.body {
  width: 100%;
  background: #fff;
}

.text {
  display: flex;
  justify-content: center;

  margin-bottom: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-top: 15px;
  letter-spacing: 0.02em;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.button__yes {
  margin-right: 15px;
}

.close__btn {
  border-radius: 50%;
  display: inline-flex;

  cursor: pointer;
  border: hidden;
  background-color: inherit;
  padding: 0;

  &_svg {
    position: relative;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
  }
  &_svg use {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(25%, 25%);
    display: inline-block;
  }
}

.wraper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
