.main__container {
  position: relative;
  min-width: 320px;

  .hero {
    padding-top: 286px;
    border-bottom-left-radius: 90px;
    background-color: #f5f6fb;
  }

  .hero__logo {
    position: absolute;
    top: 86px;
    left: 46px;
    width: 183px;
    height: 46px;
    z-index: 11;
  }

  .hero__title {
    position: absolute;
    top: 137px;
    left: 60px;
    font-style: 700;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  .main {
    padding-top: 514px;
    background-image: url(../../image/cole.png);
    background-repeat: no-repeat;
    background-position: bottom 0px left 35px;
  }

  .hero__cole {
    position: absolute;
    top: 104px;
    right: -200px;
  }

  .main__cole {
    position: absolute;
    bottom: 0px;
    left: 35px;
  }

  .kochanback {
    background: #f5f6fb;
  }

  .kochan__hero {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .kochan__hero li {
    position: absolute;
    opacity: 1;
    display: block;
    list-style: none;
    animation: animate 20s linear infinite;
    right: -20px;
  }

  .kochan__hero li:nth-child(1) {
    top: 10%;
    animation-delay: 1s;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    .hero {
      padding-top: 578px;
    }

    .hero__logo {
      top: 90px;
      left: 171px;
      width: 306.5px;
      height: 77.6px;
    }

    .hero__title {
      top: 172px;
      left: 214.5px;
      font-size: 16px;
      line-height: 1.18;
      letter-spacing: 0.18em;
    }

    .main {
      padding-top: 446px;
      background-image: url(../../image/table-2cole.png);
      background-position: bottom 56px left 103px;
    }

    .kochan__hero li:nth-child(4) {
      top: 30%;
      animation-delay: 6s;
      animation-duration: 18s;
    }

    .kochan__hero li:nth-child(5) {
      top: 15%;
      animation-delay: 8s;
    }

    .kochan__hero li:nth-child(6) {
      top: 35%;
      animation-delay: 9s;
    }

    .kochan__hero li:nth-child(7) {
      top: 20%;
      animation-delay: 11s;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;

    .hero {
      padding-top: 582.5px;
    }

    .hero__logo {
      top: 308px;
      left: 230px;
      width: 370px;
      height: 120px;
    }

    .hero__title {
      top: 428px;
      left: 302px;
    }

    .main {
      padding-top: 268px;
      background-position: bottom 50px left 230px;
    }
  }
  .kochan__hero li:nth-child(8) {
    top: 25%;
    animation-delay: 12s;
    animation-duration: 35s;
  }

  .kochan__hero li:nth-child(9) {
    top: 8%;
    animation-delay: 13s;
    animation-duration: 40s;
  }

  .kochan__hero li:nth-child(10) {
    top: 20%;
    animation-delay: 15s;
    animation-duration: 20s;
  }
}

@keyframes animate {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateX(-1100px) rotate(600deg);
    opacity: 0;
  }
}
