.main__container {
  position: relative;
  min-width: 320px;
}

.hero {
  padding-top: 86px;
  padding-bottom: 137px;
  padding-left: 49px;
  border-bottom-left-radius: 90px;
  background-color: #f5f6fb;
}

.hero__logo {
  margin-bottom: 4.66px;
}

.hero__title {
  padding-left: 11px;
  font-style: 700;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.main {
  padding-top: 514px;
}

.hero__cole {
  position: absolute;
  top: 104px;
  right: 0px;
}

.main__cole {
  position: absolute;
  bottom: 0px;
  left: 35px;
}
