.main__container {
  position: relative;
  min-width: 320px;

  .hero {
    padding-top: 286px;
    border-bottom-left-radius: 90px;
    background-color: #f5f6fb;
  }

  .hero__logo {
    position: absolute;
    top: 86px;
    left: 46px;
    width: 183px;
    height: 46px;
    z-index: 3;
  }

  .hero__title {
    position: absolute;
    z-index: 3;
    top: 137px;
    left: 60px;
    font-style: 700;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    .hero {
      padding-top: 578px;
    }

    .hero__logo {
      top: 90px;
      left: 171px;
      width: 306.5px;
      height: 77.6px;
    }

    .hero__title {
      top: 172px;
      left: 214.5px;
      font-size: 16px;
      line-height: 1.18;
      letter-spacing: 0.18em;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;

    .hero {
      padding-top: 582.5px;
    }

    .hero__logo {
      top: 308px;
      left: 230px;
      width: 370px;
      height: 120px;
    }

    .hero__title {
      top: 428px;
      left: 302px;
    }
  }
}

/* стили для анимации летающей капусты */

.flayanimation {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* стили для анимации прыгающей капусты */

.kapustaflay {
  position: relative;
  display: block;
  height: 514px;
  @media screen and (min-width: 768px) {
    height: 442px;
  }
  @media screen and (min-width: 1280px) {
    height: 268px;
  }
}

.anim {
  position: absolute;
  left: 35px;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 184px;
  @media screen and (min-width: 768px) {
    left: 102px;
    bottom: 56px;
  }
  @media screen and (min-width: 1280px) {
    left: 230px;
    bottom: 50px;
  }
}
