.reports_view {
  position: relative;
}
.balance_segment {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 15px;
  left: 0;
  right: 0;
  text-align: center;
}

.balance_line {
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 0%;
}

.return_home_div {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .control_line {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  }
  .return_home_div {
    margin-bottom: 10px;
  }

  .month_selector_div {
    margin-bottom: 30px;
  }
  .placeholder {
    margin-bottom: 30px;
  }
  .return_home_div {
    padding-left: 10px;
  }
  .placeholder,
  .month_selector_div {
    display: flex;
    justify-content: center;
  }
  .balance_line {
    width: 88%;
    margin-left: 5.9%;
    margin-right: 5.9%;
    margin-bottom: 40px;
  }

  .balance_component {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .control_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-right: 6.5%;
    margin-left: 6.5%;
    margin-bottom: 40px;
  }

  .balance_line {
    margin-right: 6.5%;
    margin-left: 6.5%;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .control_line {
    margin-right: 8.6%;
    margin-left: 8.6%;
  }
  .balance_line {
    margin-right: 8.6%;
    margin-left: 8.6%;
  }
}
