.balance_container {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.outcomes {
  color: #ff0000;
}

.incomes {
  color: #00ff00;
}

@media screen and (max-width: 767px) {
  .outcomes_div,
  .incomes_div {
    text-align: center;
  }
  .incomes_div {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .outcomes {
    padding-left: 5px;
  }

  .incomes {
    padding-left: 5px;
  }

  .outcomes_div,
  .incomes_div {
    display: flex;
    //text-justify: center;
  }

  .outcomes_div::after {
    content: '';
    display: block;
    background: #e0e5eb;
    position: absolute;
    top: -50%;
    left: 210px;
    width: 1px;
    height: 36px;
  }

  .incomes_div {
    margin-left: 40px;
  }
}
