.balance_container {
  position: relative;
  display: flex;
}

.article {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;

  color: #52555f;
}

.red {
  color: #e53935;
}

.green {
  color: #407946;
}

.summ {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  letter-spacing: 0.04em;
}

@media screen and (max-width: 767px) {
  .outcomes_div,
  .incomes_div {
    text-align: center;
  }
  .incomes_div {
    margin-left: 30px;
  }

  .title {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 768px) {
  .outcomes {
    padding-left: 5px;
  }

  .incomes {
    padding-left: 5px;
  }

  .outcomes_div,
  .incomes_div {
    display: flex;
  }

  .outcomes_div::after {
    content: '';
    display: block;
    background: #e0e5eb;
    position: absolute;
    top: -50%;
    left: 210px;
    width: 1px;
    height: 36px;
  }

  .incomes_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
  }
}

.title {
  margin-right: 15px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  color: #52555f;
}
