.container {
  /* width: 230px; */
  display: flex;
}

.href {
}

.icon {
}

.text {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #888888;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .text {
    display: none;
  }
}
